<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ</title>
    <script>
        function callApi(apiUrl) {
            fetch(apiUrl)
                .then(response => response.text())
                .then(data => {
                    document.getElementById("result").innerText = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById("result").innerText = 'Có lỗi xảy ra';
                });
        }
    </script>
</head>
<body>
<h1>Trang Chủ</h1>
<button onclick="callApi('/api/run')">Logic 1</button>
<button onclick="callApi('/api/run1')">Logic 2</button>
<button onclick="callApi('/api/stop')">Stop</button>
<button onclick="callApi('/api/change')">Get data user</button>
<p id="result">Kết quả sẽ hiển thị ở đây.</p>
<form th:action="@{/submitForm}" th:object="${formData}" method="post">
    <label for="inputText">Nhập giá trị:</label>
    <input type="text" id="inputText" th:field="*{inputText}" />
    <input type="text" id="inputText1" th:field="*{inputText1}" />
    <button type="submit">Gửi</button>
</form>
<h1>Export Data to Excel</h1>
<a href="/export-excel" class="btn btn-primary">Download Excel</a>
</body>
</html>
